body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bg.jpg);
  background-position: center;
  background-size: cover;
}
.contact-us{
  margin-top: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}
.title{
  margin-bottom: 30px;
  line-height: 20px;
}
.title h1{
  text-align: center;
  color: #fff;
  font-family: 'Raleway',sans-serif;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 2px;
}
.title h2{
  text-align: center;
  color: #fff;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
}
.item{
  margin-bottom: 25px;
}
.feild{
  border-bottom: 1px solid #fff;
}
input, textarea{
width: 100%;
background: none;
border: none;
outline: none;
color: #fff;
font-family: 'Raleway',sans-serif;
padding: 20px 0;
font-size: 15px;
transition: 0.3s;
}
.name-email{
  display: flex;
  justify-content: space-between;
}
.name-email input{
  width: 45%;
}
.item textarea{
  height: 20px;
  resize: none;
  margin-bottom: 40px;
}
input::placeholder, textarea::placeholder{
  color: #eeeeee;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item button{
  padding: 13px 25px;
  font-size: 17px;
  font-family: 'Raleway',sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #ff7b00;
  color: #fff;
}
.item button:hover{
  background-color: #fff;
  color: #ff7b00;
  font-weight: 900;
}


























































































